html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2E3440;
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    font-size: 1.08rem;
}

nav {
    width: 20%;
    background-color: #81A1C1;
    color: #2E3440;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    border: 4px solid;
    border-radius: 0.75rem;
    width: 85%;
    text-align: center;
    padding: 0.5rem;
    transition-duration: 0.1s;
}

nav li {
    margin: 1.5rem;
}

#body-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#content {
    width: 80%;
    overflow-y: auto;
    padding: 1.5rem;
}

#header {
    display: flex;
    align-items: center;
    width: 100%;
    user-select: none;
    margin-bottom: 2rem;
}

#header>h1 {
    font-size: 2rem;
}

#sign-in-widget {
    font-weight: bold;
    margin: 0.4rem;
    font-size: 1.2rem;
    margin-left: auto;
    overflow: hidden;
}

#eth-address {
    max-width: 12ch;
    text-overflow: ellipsis;
}

#hamburger {
    margin-left: auto;
    display: none;
    cursor: pointer;
}

#page-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-left: 2rem;
}

nav a,
a:link,
a:visited {
    color: inherit;
}

legend {
    font-weight: bold;
}

form.bl-form {
    display: flex;
    flex-direction: column;
    max-width: 60ch;
    margin: 1rem;
}

form.bl-form>fieldset {
    min-width: 40ch;
}

form.bl-form>fieldset>* {
    margin: 0.5rem;
    font-size: 1.15rem;
    display: block;
}

input[type=text],
select {
    border: 2px solid transparent;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid gray;
    padding: 0.4rem;
}

option {
    color: initial;
}

input[type=text]:focus,
select:focus,
input[type=submit][type=submit]:focus {
    border: 2px solid white;
    outline: none;
}

input[type=submit][type=submit] {
    background-color: transparent;
    border: 2px solid grey;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 2rem;
    padding: 0.4rem;
}

#auth-gated {
    display: none;
}

input[type=file] {
    height: 0;
    opacity: 0;
}

label[for="to-upload"] {
    font-family: inherit;
    width: 20ch;
    text-align: center;
    background-color: gray;
    padding: 0.75rem;
}

label.has-file {
    background-color: white;
    color: black;
}

h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

@media not all and (hover: none) {
    label[for="to-upload"]:hover:not(.has-file) {
        background-color: #999;
    }

    input[type=submit]:hover {
        border-color: #aaa;
    }

    label[for="to-upload"]:hover {
        cursor: pointer;
    }


    input[type=text]:hover:not(:focus),
    select:hover:not(:focus) {
        border-bottom-color: #aaa;
    }

    select:hover {
        cursor: pointer;
    }

    nav a:hover {
        color: white;
        border-color: white;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    nav {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 70%;
    }

    #content {
        width: 100%;
    }

    #hamburger {
        display: block;
    }

    #sign-in-widget {
        margin-left: 0.4rem;
    }
}